/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';

@brand-primary:         #0269b4;
@brand-success:         #1fb53b;
@brand-info:            #cb0923;

//** Global textual link color.
@link-color:            @brand-info;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 10%);
//** Link hover decoration.
@link-hover-decoration: none;