/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';

@brand-primary:         #007a5e;
@brand-success:         lighten(@brand-primary, 10%);
@brand-info:            #2C3E50;
@brand-warning:         #fcd116;
@brand-danger:          #ce1126;

//** Global textual link color.
@link-color:            @brand-success;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 10%);
//** Link hover decoration.
@link-hover-decoration: none;

// Navbar links
@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          @brand-warning;
@navbar-default-link-active-color:         darken(@brand-warning, 5%);