<!-- body -->
<table>
    <tr>
        <td>
            <!-- content -->
            <div class="content" style="background: #0d6aad">
                <table>
                    <tr>
                        <td>
                            {% if title %}
                                <h1>{{ title }}</h1>
                            {% endif %}

                            {% if username %}
                                <p>Bonjour {{ username }},</p>
                            {% else %}
                                <p>Bonjour,</p>
                            {% endif %}

                            {% if texte %}
                                <p>{{ texte }}</p>
                            {% endif %}

                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->
        </td>
    </tr>
</table>
<!-- /body -->

{% if footer %}
    <!-- footer -->
    <table class="footer-wrap">
        <tr>
            <td class="container">
                <!-- content -->
                <div class="content">
                    <table>
                        <tr>
                            <td align="center">
                                <p>{{ footer }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /content -->
            </td>
        </tr>
    </table>
    <!-- /footer -->
{% endif %}